.wrapper {
  background-color: #000c24;
}
.wrapperLogin {
  background-color: rgb(45, 4, 53);
}

.btnForgotPassword {
  margin-top: 0.5rem;
  background-color: transparent !important;
  outline: none !important;
  border: none !important;
}
