.nav {
  background-color: #000c24;
}

.wrapper {
  background-color: #000c24;
  position: sticky;
  top: 0;
  z-index: 2000;
}

.bar {
  color: red;
}

.links {
  text-decoration: none !important;
  font-size: 14px !important;
}
.links :visited {
  background-color: pink;
  text-decoration: none;
}
.buttonsContainer {
  gap: 10px;
  display: flex;
}
