.container {
  background: rgb(45, 4, 53);
  background: linear-gradient(
    180deg,
    rgba(45, 4, 53, 1) 86%,
    rgba(0, 12, 36, 1) 100%
  );
  /* color: #00f0df; */
}
h2 {
  color: #00f0df;
}
.formContact {
  background-color: #000c24;
  /* min-width: 700px; */
  border-radius: 30px;
}
.formLabels {
  color: #00f0df;
}
.formInputs {
  border-radius: 60px;
  outline: none;
  border: none;
}
.formErrors {
  color: red;
}

.btnContact {
  background-color: transparent;
  border: #00f0df solid 3px;
  color: #00f0df;
  width: 151px;
  height: 50px;
  border-radius: 50px;
}
.btnContact:hover {
  transition: 0.5s;
  background-color: #00f0df;
  color: #000c24;
}
