.container {
  background: rgb(45, 4, 53);
  background: linear-gradient(
    180deg,
    rgba(45, 4, 53, 1) 86%,
    rgba(0, 12, 36, 1) 100%
  );
  /* color: #00f0df; */
}

.formContact {
  background-color: #000c24;
  width: 700px;
  border-radius: 30px;
}
.formLabels {
  color: #00f0df;
}
.formInputs {
  border-radius: 60px;
  outline: none;
  border: none;
}
.formErrors {
  color: red;
}
/* #000c24
#2d0435 */
