.container {
  color: rgb(0, 240, 223);
  background: rgba(0, 12, 36, 1) 52%;
  font-family: "Montserrat", serif;
  font-weight: bold;
}
.banner {
  height: 45vh;
}
.profilePhoto {
  height: 15rem;
}

/* xs < 768 */
@media screen and (max-width: 767px) {
}

/* sm */
@media screen and (min-width: 768px) {
  .container {
  }
}

/* md */
@media screen and (min-width: 941px) {
  .container {
  }
}

/* lg */
@media screen and (min-width: 1200px) {
  .container {
  }
}
