.container {
  color: rgb(0, 240, 223);
  background: rgba(0, 12, 36, 1) 52%;
  font-family: "Montserrat", serif;
  font-weight: bold;
}
.banner {
  height: 35vh;
}

.profilePhoto {
  height: 15rem;
  width: 15rem;
  border: 6px;
}
.nombre {
  color: #fff;
  font-size: 24px;
  margin: 0px;
}
.ceo {
  color: #fff;
  border-top: 1px solid red;
  font-size: 18px;
}

.button {
  background-color: rgb(0, 240, 223) !important;
  color: rgba(0, 12, 36, 1);
  border-radius: 66px;
  width: 150px;
  border: none;
  outline: none;
  font-family: "Montserrat";
  font-weight: 500;
}
