.container {
  color: rgb(0, 240, 223);
  background: rgba(0, 12, 36, 1) 52%;
  font-family: "Montserrat", serif;
  font-weight: bold;
}
.banner {
  height: 35vh;
}
.profileFoto_container {
}
.profilePhoto {
  height: 20rem;
  width: 20rem;
  border: 6px;
}
.nombre {
  font-size: 24px;
  margin: 0px;
}
.ceo {
  border-top: 1px solid red;
  font-size: 18px;
}

/* xs < 768 */
@media screen and (max-width: 767px) {
}

/* sm */
@media screen and (min-width: 768px) {
  .container {
  }
}

/* md */
@media screen and (min-width: 941px) {
  .container {
  }
}

/* lg */
@media screen and (min-width: 1200px) {
  .container {
  }
}
