.nav {
  background-color: #000c24;
}

.wrapper {
  background-color: #000c24;
  position: sticky;
  top: 0;
  z-index: 2000;
}

.bar {
  color: red;
}

.links {
  text-decoration: none !important;
}
.links :visited {
  background-color: pink;
  text-decoration: none;
}

.dropdownUser {
  background-color: #00f0df !important;
  color: #000c24 !important;
}
